@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@font-face {
    font-family: 'Dancing Script';
    src: local('Dancing Script'), url(./Fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url(./Fonts/MerriweatherSans-Regular.ttf);
}